<br/><br/>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="register-box-one full-bottom" style="width:450px;">
      <div class="register-box-wrapper">
        <h5 class="center-text">ONK Trip Registration Form</h5>
        <p class="center-text half-bottom">
          Create an account.
        </p>

        <% if resource.errors.any? %>
            <div class="red-notification" style="margin-bottom:20px;">
              <p class="center-text uppercase" style="margin-top:0;">
                <i class="fa fa-warning"></i>
                <% resource.errors.full_messages.each do |msg| %>
                    <%= msg %><br/>
                <% end %>
                <a href="#" class="close-small-notification">x</a>
              </p>
            </div>
        <% end %>

        <em><i class="fa fa-envelope"></i>Email</em>
        <input name="user[email]" onfocus="if (this.value=='') this.value = ''" onblur="if (this.value=='') this.value = ''" type="text" value="<%= resource.email %>" class="green-focus register-box-one-email">
        <em><i class="fa fa-lock"></i>Create a Password (<%= @minimum_password_length %> chars min)</em>
        <input name="user[password]" onfocus="if (this.value=='') this.value = ''" onblur="if (this.value=='') this.value = ''" type="password" value="" class="green-focus register-box-one-password">
        <em><i class="fa fa-lock"></i> Re-enter Password</em>
        <input name="user[password_confirmation]" onfocus="if (this.value=='') this.value = ''" onblur="if (this.value=='') this.value = ''" type="password" value="" class="red-focus register-box-one-repassword">
        <%= f.submit "Sign up", class: "button button-blue center-button half-bottom", style: "width:150px;color:white;" %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
<% end %>
