<script>
    jQuery(document).ready(function () {
        jQuery("tr:odd").addClass("even");
    });
</script>

<%= render '/tmgr/includes/search' %>

<div class="content">
  <div class="full-bottom"></div>
  <div class="box-960 half-bottom">

    <table class="table">
      <tbody>
      <tr>
        <th class="table-title"></th>
        <th class="table-title">5th Graders</th>
        <th class="table-title">5th Grade Chaperones</th>
        <th class="table-title">8th Graders</th>
        <th class="table-title">8th Grade Chaperones</th>
        <th>Total</th>
      </tr>
      <tr>
        <td class="table-sub-title blue-title">Registered</td>
        <td style="text-align:right;"><%= link_to @summary[:registered][:s_fifth].length, tmgr_overview_registered_path('5th', 'Students') %></td>
        <td style="text-align:right;"><%= link_to @summary[:registered][:c_fifth].length, tmgr_overview_registered_path('5th', 'Chaperones') %></td>
        <td style="text-align:right;"><%= link_to @summary[:registered][:s_eighth].length, tmgr_overview_registered_path('8th', 'Students') %></td>
        <td style="text-align:right;"><%= link_to @summary[:registered][:c_eighth].length, tmgr_overview_registered_path('8th', 'Chaperones') %></td>
        <td style="color: black;font-weight:bold;text-align:right;"><%= @summary[:registered][:total] %></td>
      </tr>
      <tr>
        <td class="table-sub-title blue-title">Withdrawn</td>
        <td style="text-align:right;"><%= link_to @summary[:withdrawn][:s_fifth].length, tmgr_overview_withdrawn_path('5th', 'Students') %></td>
        <td style="text-align:right;"><%= link_to @summary[:withdrawn][:c_fifth].length, tmgr_overview_withdrawn_path('5th', 'Chaperones') %></td>
        <td style="text-align:right;"><%= link_to @summary[:withdrawn][:s_eighth].length, tmgr_overview_withdrawn_path('8th', 'Students') %></td>
        <td style="text-align:right;"><%= link_to @summary[:withdrawn][:c_eighth].length, tmgr_overview_withdrawn_path('8th', 'Chaperones') %></td>
        <td style="color: black;font-weight:bold;text-align:right;"><%= @summary[:withdrawn][:total] %></td>
      </tr>
      <tr>
        <td class="table-sub-title blue-title">ONK Members</td>
        <td style="text-align:right;"><%= link_to @summary[:onk_members][:s_fifth].length, tmgr_overview_onk_member_path('5th', 'true') %></td>
        <td style="text-align:right;"><i>N/A</i></td>
        <td style="text-align:right;"><%= link_to @summary[:onk_members][:s_eighth].length, tmgr_overview_onk_member_path('8th', 'true') %></td>
        <td style="text-align:right;"><i>N/A</i></td>
        <td style="color: black;font-weight:bold;text-align:right;"><%= @summary[:onk_members][:total] %></td>
      </tr>
      <tr>
        <td class="table-sub-title blue-title">Not ONK Members</td>
        <td style="text-align:right;"><%= link_to @summary[:not_onk_members][:s_fifth].length, tmgr_overview_onk_member_path('5th', 'false') %></td>
        <td style="text-align:right;"><i>N/A</i></td>
        <td style="text-align:right;"><%= link_to @summary[:not_onk_members][:s_eighth].length, tmgr_overview_onk_member_path('8th', 'false') %></td>
        <td style="text-align:right;"><i>N/A</i></td>
        <td style="color: black;font-weight:bold;text-align:right;"><%= @summary[:not_onk_members][:total] %></td>
      </tr>
      <tr>
        <td class="table-sub-title blue-title">Signed LOI's</td>
        <td style="text-align:right;"><%= link_to @summary[:uploaded_loi][:s_fifth].length, tmgr_overview_loi_path('5th', 'false') %></td>
        <td style="text-align:right;"><i>N/A</i></td>
        <td style="text-align:right;"><i>N/A</i></td>
        <td style="text-align:right;"><i>N/A</i></td>
        <td style="color: black;font-weight:bold;text-align:right;"><%= @summary[:uploaded_loi][:total] %></td>
      </tr>
      <tr>
        <td class="table-sub-title blue-title">Unsigned LOI's</td>
        <td style="text-align:right;"><%= link_to @summary[:outstanding_loi][:s_fifth].length, tmgr_overview_loi_path('5th', 'true') %></td>
        <td style="text-align:right;"><i>N/A</i></td>
        <td style="text-align:right;"><i>N/A</i></td>
        <td style="text-align:right;"><i>N/A</i></td>
        <td style="color: black;font-weight:bold;text-align:right;"><%= @summary[:outstanding_loi][:total] %></td>
      </tr>
      <tr>
        <td class="table-sub-title blue-title">Scholarships</td>
        <td style="text-align:right;"><%= link_to @summary[:scholarships][:s_fifth].length, tmgr_overview_scholarships_path('5th') %></td>
        <td style="text-align:right;">N/A</td>
        <td style="text-align:right;"><%= link_to @summary[:scholarships][:s_eighth].length, tmgr_overview_scholarships_path('8th') %></td>
        <td style="text-align:right;">N/A</td>
        <td style="color: black;font-weight:bold;text-align:right;"><%= number_to_currency(@summary[:scholarships][:total]) %></td>
      </tr>
      <tr>
        <td class="table-sub-title blue-title">$ Collected</td>
        <td style="text-align:right;"><%= link_to number_to_currency(@summary[:collected][:s_fifth_r]), tmgr_overview_collected_path('5th', 'Students') %></td>
        <td style="text-align:right;"><%= link_to number_to_currency(@summary[:collected][:c_fifth_r]), tmgr_overview_collected_path('5th', 'Chaperones') %></td>
        <td style="text-align:right;"><%= link_to number_to_currency(@summary[:collected][:s_eighth_r]), tmgr_overview_collected_path('8th', 'Students') %></td>
        <td style="text-align:right;"><%= link_to number_to_currency(@summary[:collected][:c_eighth_r]), tmgr_overview_collected_path('8th', 'Chaperones') %></td>
        <td style="color: black;font-weight:bold;text-align:right;"><%= number_to_currency(@summary[:collected][:total]) %></td>
      </tr>
      <tr>
        <td class="table-sub-title blue-title">$ Past Due</td>
        <td style="text-align:right;"><%= link_to number_to_currency(@summary[:past_due][:s_fifth_r]), tmgr_overview_past_due_path('5th', 'Students') %></td>
        <td style="text-align:right;"><%= link_to number_to_currency(@summary[:past_due][:c_fifth_r]), tmgr_overview_past_due_path('5th', 'Chaperones') %></td>
        <td style="text-align:right;"><%= link_to number_to_currency(@summary[:past_due][:s_eighth_r]), tmgr_overview_past_due_path('8th', 'Students') %></td>
        <td style="text-align:right;"><%= link_to number_to_currency(@summary[:past_due][:c_eighth_r]), tmgr_overview_past_due_path('8th', 'Chaperones') %></td>
        <td style="color: black;font-weight:bold;text-align:right;"><%= number_to_currency(@summary[:past_due][:total]) %></td>
      </tr>
      </tbody>
    </table>

    <br/>
    <%= form_tag(tmgr_registrations_path, method: :post, style: 'margin-left:50px;') do %>
        Registrations created in the last <%= text_field_tag 'days', "5", style: "width:50px;" %> days.
        <%= submit_tag 'Search Registrations', class: "button black" %>
    <% end %>

    <br/>

    <%= form_tag(tmgr_payments_path, method: :post, style: 'margin-left:50px;') do %>
        Payments made in the last <%= text_field_tag 'days', "5", style: "width:50px;" %> days.
        <%= submit_tag 'Search Payments', class: "button black" %>
    <% end %>

  </div>
</div>

