<script>
  jQuery(document).ready(function () {
    jQuery("tr:odd").css("background-color", "#CEF5FF");
    jQuery("td").css("padding-left", "10px");
    jQuery("td").css("padding-right", "10px");
  });
</script>

<h3>5th & 8th Grade Trip Administration</h3>

<br/><br/>
<table style="border-bottom: 1px;width:100%;">
  <tr>
    <td><p style="margin-bottom:0;font-weight: bold;color:black;text-decoration: underline;text-align:right;"></p></td>
    <td><p style="margin-bottom:0;font-weight: bold;color:black;text-decoration: underline;text-align:right;">5th Graders</p></td>
    <td><p style="margin-bottom:0;font-weight: bold;color:black;text-decoration: underline;text-align:right;">5th Grade Chaperones</p></td>
    <td><p style="margin-bottom:0;font-weight: bold;color:black;text-decoration: underline;text-align:right;">8th Graders</p></td>
    <td><p style="margin-bottom:0;font-weight: bold;color:black;text-decoration: underline;text-align:right;">8th Grade Chaperones</p></td>
    <td><p style="margin-bottom:0;font-weight: bold;color:black;text-decoration: underline;text-align:right;">Total</p></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;color:black;font-weight:bold;">Registered</p></td>
    <td><p style="margin-bottom:0;text-align:right;"><%= link_to @summary[:registered][:s_fifth].length, tmgr_overview_registered_path('5th', 'Students') %></p></td>
    <td><p style="margin-bottom:0;text-align:right;"><%= link_to @summary[:registered][:c_fifth].length, tmgr_overview_registered_path('5th', 'Chaperones') %></p></td>
    <td><p style="margin-bottom:0;text-align:right;"><%= link_to @summary[:registered][:s_eighth].length, tmgr_overview_registered_path('8th', 'Students') %></p></td>
    <td><p style="margin-bottom:0;text-align:right;"><%= link_to @summary[:registered][:c_fifth].length, tmgr_overview_registered_path('8th', 'Chaperones') %></p></td>
    <td><p style="margin-bottom:0;color: black;font-weight:bold;text-align:right;"><%= @summary[:registered][:total] %></p></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;color:black;font-weight:bold;">LOI's Uploaded</p></td>
    <td><p style="margin-bottom:0;text-align:right;"><%= link_to @summary[:uploaded_loi][:s_fifth].length, tmgr_overview_loi_path('5th', 'false') %></p></td>
    <td><p style="margin-bottom:0;text-align:right;">N/A</p></td>
    <td><p style="margin-bottom:0;text-align:right;"><%= link_to @summary[:uploaded_loi][:s_eighth].length, tmgr_overview_loi_path('8th', 'false') %></p></td>
    <td><p style="margin-bottom:0;text-align:right;">N/A</p></td>
    <td><p style="margin-bottom:0;color: black;font-weight:bold;text-align:right;"><%= @summary[:uploaded_loi][:total] %></p></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;color:black;font-weight:bold;">Outstanding LOI's</p></td>
    <td><p style="margin-bottom:0;text-align:right;"><%= link_to @summary[:outstanding_loi][:s_fifth].length, tmgr_overview_loi_path('5th', 'true') %></p></td>
    <td><p style="margin-bottom:0;text-align:right;">N/A</p></td>
    <td><p style="margin-bottom:0;text-align:right;"><%= link_to @summary[:outstanding_loi][:s_eighth].length, tmgr_overview_loi_path('8th', 'true') %></p></td>
    <td><p style="margin-bottom:0;text-align:right;">N/A</p></td>
    <td><p style="margin-bottom:0;color: black;font-weight:bold;text-align:right;"><%= @summary[:outstanding_loi][:total] %></p></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;color:black;font-weight:bold;">$ Collected</p></td>
    <td><p style="margin-bottom:0;text-align:right;">$8,000</p></td>
    <td><p style="margin-bottom:0;text-align:right;">$876</p></td>
    <td><p style="margin-bottom:0;text-align:right;">$876</p></td>
    <td><p style="margin-bottom:0;text-align:right;">$876</p></td>
    <td><p style="margin-bottom:0;color: black;font-weight:bold;text-align:right;">$10,236</p></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;color:black;font-weight:bold;">$ Past Due</p></td>
    <td><p style="margin-bottom:0;text-align:right;color:red;">$852</p></td>
    <td><p style="margin-bottom:0;text-align:right;color:red;">$124</p></td>
    <td><p style="margin-bottom:0;text-align:right;color:red;">$124</p></td>
    <td><p style="margin-bottom:0;text-align:right;color:red;">$124</p></td>
    <td><p style="margin-bottom:0;color: red;font-weight:bold;text-align:right;">$1,354</p></td>
  </tr>
</table>

<br/><br/>

