<script>
  $(document).ready(function () {
    $("tr:odd").css("background-color", "#CEF5FF");
    $("td").css("padding-left", "10px");
    $("td").css("padding-right", "10px");
  });
</script>

<h3><%= params[:grade] %> Grade Trip Administration - <%= @title %></h3>

<br/><br/>
<table style="border-bottom: 1px;">
  <tr>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;">Id</p></td>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;">Student First</p></td>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;">Student Last</p></td>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;">Grade</p></td>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;">Parent First</p></td>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;">Parent Last</p></td>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;">Registration Date</p></td>
    <% if params[:outstanding] != 'true' %>
      <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;">Letter Of Intent</p></td>
    <% end %>
  </tr>
  <% @registrations.each do |reg| %>
      <tr>
        <td>
          <p style="margin-bottom:0;">
            <%= link_to reg.id, tmgr_form_view_path(reg) %>

          </p>
        </td>
        <td><p style="margin-bottom:0;"><%= reg.sfname %></p></td>
        <td><p style="margin-bottom:0;"><%= reg.slname %></p></td>
        <td><p style="margin-bottom:0;"><%= reg.grade %></p></td>
        <td><p style="margin-bottom:0;"><%= reg.p1fname %></p></td>
        <td><p style="margin-bottom:0;"><%= reg.p1lname %></p></td>
        <td><p style="margin-bottom:0;"><%= reg.created_at.strftime("%m/%d/%Y") %></p></td>
        <% if params[:outstanding] != 'true' %>
            <td>
              <% unless reg.file_name.nil? %>
                  <p style="margin-bottom:0;"><%= link_to 'Download LOI', tmgr_form_loi_path(reg.id) %></p>
              <% end %>
            </td>
      <% end %>
      </tr>
  <% end %>
</table>

<br/><br/>

