<script>
    jQuery(document).ready(function () {
        jQuery("tr:odd").addClass("even");
    });
</script>

<%= render '/tmgr/includes/search' %>

<div class="content">
  <div class="half-bottom"></div>
  <div class="box-960 half-bottom">

    <h4 style="float:left;">Payments <%= params['type'] %></h4>
    <div style="float:right;"><%= Time.zone.now.strftime "%m/%d/%Y %H:%M:%S" %></div>
    <div style="clear:both"></div>

    <table class="table">
      <tbody><tr>
        <th class="table-title">Id</th>
        <th class="table-title">Student First</th>
        <th class="table-title">Student Last</th>
        <th class="table-title">Grade</th>
        <th class="table-title">Payment Created</th>
        <th class="table-title">Payment Date</th>
        <th class="table-title">Type</th>
        <th class="table-title">Amount</th>
        <th class="table-title">Fee</th>
      </tr>
      <% @payments.each do |payment| %>
          <tr>
            <td><%= link_to payment.registration.id, tmgr_form_view_path(payment.registration) %></td>
            <td><%= payment.registration.fname %></td>
            <td><%= payment.registration.lname %></td>
            <td><%= textByGradeShort(payment.registration.grade) %></td>
            <td><%= payment.created_at.strftime('%m/%d/%Y') %></td>
            <td><%= payment.pmtdate.strftime('%m/%d/%Y') %></td>
            <td><%= payment.pmtnum %></td>
            <td><%= payment.amount.present? ? number_to_currency(payment.amount) : "" %></td>
            <td><%= payment.fee.present? ? number_to_currency(payment.fee) : "" %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</div>
