<script>
  $(document).ready(function () {
    $("tr:odd").css("background-color", "#CEF5FF");
    $("td").css("padding-left", "10px");
    $("td").css("padding-right", "10px");
  });
</script>

<h3>Trip Administration - Search Results</h3>
<br/><br/>
<%= form_tag(tmgr_search_path, method: :put) do %>
    Search: <%= text_field_tag 'term', params[:term], style: "width:200px;" %>
    <%= submit_tag 'Search', class: "button black" %>
<% end %>
<br/>
Returned results for search term: <strong><i><%= params[:term] %></i></strong>
<br/><br/>
<table style="border-bottom: 1px;">
  <tr>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;">Id</p></td>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;">Account</p></td>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;">Student First</p></td>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;">Student Last</p></td>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;">Grade</p></td>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;">Parent First</p></td>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;">Parent Last</p></td>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;">Registration Date</p></td>
    <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;">LOI</p></td>
  </tr>
  <% @results.each do |reg| %>
      <tr>
        <td>
          <p style="margin-bottom:0;">
            <%= link_to reg.id, tmgr_form_view_path(reg) %>

          </p>
        </td>
        <td><p style="margin-bottom:0;"><%= reg.chaperone ? "Chaperone" : "Student" %></p></td>
        <td><p style="margin-bottom:0;"><%= reg.sfname %></p></td>
        <td><p style="margin-bottom:0;"><%= reg.slname %></p></td>
        <td><p style="margin-bottom:0;"><%= reg.grade %></p></td>
        <td><p style="margin-bottom:0;"><%= reg.p1fname %></p></td>
        <td><p style="margin-bottom:0;"><%= reg.p1lname %></p></td>
        <td><p style="margin-bottom:0;"><%= reg.created_at.strftime("%m/%d/%Y") %></p></td>
        <td>
        <% if reg.file_ext != nil %>
            <p style="margin-bottom:0;"><%= link_to 'download', tmgr_form_loi_path(reg.id) %></p>
        <% end %>
        </td>
      </tr>
  <% end %>
</table>

<br/><br/>

