<h3><%= @registration.grade %>th Grade Trip Administration</h3>

<% if current_user.chaperone %>

    <p style="color:black;margin-bottom:10px;"><strong>Chaperone Information</strong></p>
    <table>
      <tr>
        <td><p style="margin-bottom:0;">Trip:</p></td>
        <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.grade %></p></td>
      </tr>
      <tr>
        <td><p style="margin-bottom:0;">First Name:</p></td>
        <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.p1fname %></p></td>
      </tr>
      <tr>
        <td><p style="margin-bottom:0;">Last Name:</p></td>
        <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.p1lname %></p></td>
      </tr>
      <tr>
        <td><p style="margin-bottom:0;">Phone:</p></td>
        <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.p1phone %></p></td>
      </tr>
      <tr>
        <td><p style="margin-bottom:0;">Email:</p></td>
        <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= current_user.email %></p></td>
      </tr>
      <tr>
        <td><p style="margin-bottom:0;">Street:</p></td>
        <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.street %></p></td>
      </tr>
      <tr>
        <td><p style="margin-bottom:0;">City:</p></td>
        <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.city %></p></td>
      </tr>
      <tr>
        <td><p style="margin-bottom:0;">State:</p></td>
        <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.state %></p></td>
      </tr>
      <tr>
        <td><p style="margin-bottom:0;">Zip:</p></td>
        <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.zip %></p></td>
      </tr>
    </table>

<% else %>

    <br/><br/>
    <p style="color:black;margin-bottom:10px;"><strong>Student Information</strong></p>
    <table>
      <tr>
        <td><p style="margin-bottom:0;">Student First Name:</p></td>
        <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.sfname %></p></td>
      </tr>
      <tr>
        <td><p style="margin-bottom:0;">Student Last Name:</p></td>
        <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.slname %></p></td>
      </tr>
      <tr>
        <td><p style="margin-bottom:0;">Gender:</p></td>
        <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.sgender %></p></td>
      </tr>
      <tr>
        <td><p style="margin-bottom:0;">Trip:</p></td>
        <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.grade %></p></td>
      </tr>
    </table>
    <br/><br/>
    <p style="color:black;margin-bottom:10px;"><strong>Parent Information</strong></p>
    <table>
      <tr>
        <td><p style="margin-bottom:0;">Parent 1 First Name:</p></td>
        <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.p1fname %></p></td>
      </tr>
      <tr>
        <td><p style="margin-bottom:0;">Parent 1 Last Name:</p></td>
        <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.p1lname %></p></td>
      </tr>
      <tr>
        <td><p style="margin-bottom:0;">Parent 1 Phone:</p></td>
        <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.p1phone %></p></td>
      </tr>
      <tr>
        <td><p style="margin-bottom:0;">Parent 1 Email:</p></td>
        <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.p1email %></p></td>
      </tr>
      <tr>
        <td><p style="margin-bottom:0;">Parent 2 First Name:</p></td>
        <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.p2fname %></p></td>
      </tr>
      <tr>
        <td><p style="margin-bottom:0;">Parent 2 Last Name:</p></td>
        <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.p2lname %></p></td>
      </tr>
      <tr>
        <td><p style="margin-bottom:0;">Parent 2 Phone:</p></td>
        <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.p2phone %></p></td>
      </tr>
      <tr>
        <td><p style="margin-bottom:0;">Parent 2 Email:</p></td>
        <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.p2email %></p></td>
      </tr>
      <tr>
        <td><p style="margin-bottom:0;">Street:</p></td>
        <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.street %></p></td>
      </tr>
      <tr>
        <td><p style="margin-bottom:0;">City:</p></td>
        <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.city %></p></td>
      </tr>
      <tr>
        <td><p style="margin-bottom:0;">State:</p></td>
        <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.state %></p></td>
      </tr>
      <tr>
        <td><p style="margin-bottom:0;">Zip:</p></td>
        <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.zip %></p></td>
      </tr>
    </table>

<% end %>

