<script>
    $(function () {
        $('.remove_pmt').click(function () {
            var strconfirm = confirm("Are you sure you want to delete payment?");
            if (strconfirm == false) {
                return true;
            }

            $('#delete_id').val($(this).attr("data-id"));
            $('#delete_form').submit();
        });
    });
</script>

<%= render '/tmgr/includes/search' %>


<div class="content box-960 container">
  <br/>
  <h3><%= textByGrade(@registration.grade) %> Trip Administration</h3>

  <form id="delete_form" method="post" action="<%= tmgr_payment_delete_path %>">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="hidden" name="id" id="delete_id">
    <input type="hidden" name="reg_id" value="<%= @registration.id %>">
  </form>

  <div class="one-half-responsive half-bottom">
    <div class="pricing-table pricing-selected-blue" style="max-width: 400px; padding-bottom: 20px;">
      <h3>Student Information</h3>
      <ul>
        <li style="text-align: left;padding-left:30px;">
          First Name
          <span style="margin-left:33px;width:180px;height:25px;display:inline;padding-left:7px;color:black;"><%= @registration.fname %></span>
        </li>
        <li style="text-align: left;padding-left:30px;">
          Last Name
          <span style="margin-left:33px;width:180px;height:25px;display:inline;padding-left:7px;color:black;"><%= @registration.lname %></span>
        </li>
        <li style="text-align: left;padding-left:30px;">
          Gender
          <span style="margin-left:56px;width:180px;height:25px;display:inline;padding-left:7px;color:black;"><%= @registration.gender %></span>
        </li>
        <li style="text-align: left;padding-left:30px;">
          Grade
          <span style="margin-left:65px;width:180px;height:25px;display:inline;padding-left:7px;color:black;"><%= textByGradeShort(@registration.grade) %></span>
        </li>
        <li style="text-align: left;padding-left:30px;">
          LOI
          <span style="margin-left:81px;width:180px;height:25px;display:inline;padding-left:7px;color:black;"><%= !@registration.loi.nil? && !@registration.loi.p1signature.blank? %></span>
        </li>
        <%= form_tag tmgr_toggle_onk_path(@registration.id), method: :post, id: 'onk_member_form' do %>
            <li style="text-align: left;padding-left:30px;">
              ONK Member
              <span style="margin-left:13px;width:180px;height:25px;display:inline;padding-left:7px;color:black;">
                  <a href="#" onclick="$('#onk_member_form').submit()"
                     class="toggle_prefs checkbox checkbox-class-1
                       <% unless !@registration.parent.nil? && @registration.parent.onk? %>checkbox-unselected-1
                       <% end %>">
                  </a>
              </span>
            </li>
        <% end %>
        <%= form_tag tmgr_toggle_chaperone_path(@registration.id), method: :post, id: 'chaperone_form' do %>
            <li style="text-align: left;padding-left:30px;">
              Chaperone
              <span style="margin-left:29px;width:180px;height:25px;display:inline;padding-left:7px;color:black;">
                  <a href="#" onclick="$('#chaperone_form').submit()"
                     class="toggle_prefs checkbox checkbox-class-1
                       <% unless !@registration.parent.nil? && @registration.chaperone? %>checkbox-unselected-1
                       <% end %>">
                  </a>
              </span>
            </li>
        <% end %>
        <% if @registration.grade == 8 %>
            <li style="text-align: left;padding-left:30px;">
              Send Refund To
              <span style="margin-left:15px;width:180px;height:25px;display:inline;padding-left:7px;color:black;">
                  <%= @registration.refund_to %>
              </span>
            </li>
        <% end %>

        <%= form_for @registration, :url => tmgr_form_scholarship_path(@registration) do |f| %>
            <li style="text-align: left;padding-left:30px;">
              Scholarship
              <span style="margin-left:21px;width:180px;height:25px;display:inline;padding-left:7px;color:black;">
                  $<%= f.text_field :scholarship, style: "display:inline;height:25px;width:80px;" %>
                <% if current_user.super_admin? %>
                    <%= f.submit "Update", class: "button button-blue", style: "padding: 4px 13px" %>
                <% end %>
              </span>
            </li>
        <% end %>

        <%= form_tag(tmgr_toggle_withdrawn_path, method: :post, id: 'withdrawn_form') do %>
            <li style="text-align: left;padding-left:30px;">
              Withdrawn
              <span style="margin-left:27px;width:180px;height:25px;display:inline;padding-left:7px;color:black;">
                  <a href="#" onclick="$('#withdrawn_form').submit()"
                     class="toggle_prefs checkbox checkbox-class-1
                       <% unless @registration.withdrawn? %>checkbox-unselected-1
                       <% end %>">
                  </a>
              </span>
            </li>
        <% end %>

      </ul>
    </div>
  </div>

  <div class="one-half-responsive last half-bottom">
    <div class="pricing-table pricing-selected-blue" style="max-width: 400px; padding-bottom: 20px;">
      <h3>Parent 1 Information</h3>
      <ul>
        <li style="text-align: left;padding-left:30px;">
          Login Account
          <span style="margin-left:13px;width:180px;height:25px;display:inline;padding-left:7px;color:black;"><%= @registration.user.email %></span>
        </li>
        <li style="text-align: left;padding-left:30px;">
          First Name
          <span style="margin-left:13px;width:180px;height:25px;display:inline;padding-left:7px;color:black;"><%= @registration.parent.p1fname %></span>
        </li>
        <li style="text-align: left;padding-left:30px;">
          Last Name
          <span style="margin-left:13px;width:180px;height:25px;display:inline;padding-left:7px;color:black;"><%= @registration.parent.p1lname %></span>
        </li>
        <li style="text-align: left;padding-left:30px;">
          Phone
          <span style="margin-left:43px;width:180px;height:25px;display:inline;padding-left:7px;color:black;"><%= @registration.parent.p1phone %></span>
        </li>
        <li style="text-align: left;padding-left:30px;">
          Email
          <span style="margin-left:48px;width:180px;height:25px;display:inline;padding-left:7px;color:black;"><%= @registration.parent.p1email %></span>
        </li>
        <li style="text-align: left;padding-left:30px;">
          Street
          <span style="margin-left:43px;width:180px;height:25px;display:inline;padding-left:7px;color:black;"><%= @registration.parent.p1street %></span>
        </li>
        <li style="text-align: left;padding-left:30px;">
          City
          <span style="margin-left:57px;width:180px;height:25px;display:inline;padding-left:7px;color:black;"><%= @registration.parent.p1city %></span>
        </li>
        <li style="text-align: left;padding-left:30px;">
          State
          <span style="margin-left:47px;width:180px;height:25px;display:inline;padding-left:7px;color:black;"><%= @registration.parent.p1state %></span>
        </li>
        <li style="text-align: left;padding-left:30px;">
          Zip
          <span style="margin-left:59px;width:180px;height:25px;display:inline;padding-left:7px;color:black;"><%= @registration.parent.p1zip %></span>
        </li>
      </ul>
    </div>
  </div>

  <div class="one-half-responsive half-bottom">
    <div class="pricing-table pricing-selected-blue" style="max-width: 400px; padding-bottom: 20px;">
      <h3>Parent 2 Information</h3>
      <ul>
        <li style="text-align: left;padding-left:30px;">
          First Name
          <span style="margin-left:13px;width:180px;height:25px;display:inline;padding-left:7px;color:black;"><%= @registration.parent.p2fname %></span>
        </li>
        <li style="text-align: left;padding-left:30px;">
          Last Name
          <span style="margin-left:13px;width:180px;height:25px;display:inline;padding-left:7px;color:black;"><%= @registration.parent.p2lname %></span>
        </li>
        <li style="text-align: left;padding-left:30px;">
          Phone
          <span style="margin-left:43px;width:180px;height:25px;display:inline;padding-left:7px;color:black;"><%= @registration.parent.p2phone %></span>
        </li>
        <li style="text-align: left;padding-left:30px;">
          Email
          <span style="margin-left:48px;width:180px;height:25px;display:inline;padding-left:7px;color:black;"><%= @registration.parent.p2email %></span>
        </li>
        <li style="text-align: left;padding-left:30px;">
          Street
          <span style="margin-left:43px;width:180px;height:25px;display:inline;padding-left:7px;color:black;"><%= @registration.parent.p2street %></span>
        </li>
        <li style="text-align: left;padding-left:30px;">
          City
          <span style="margin-left:57px;width:180px;height:25px;display:inline;padding-left:7px;color:black;"><%= @registration.parent.p2city %></span>
        </li>
        <li style="text-align: left;padding-left:30px;">
          State
          <span style="margin-left:47px;width:180px;height:25px;display:inline;padding-left:7px;color:black;"><%= @registration.parent.p2state %></span>
        </li>
        <li style="text-align: left;padding-left:30px;">
          Zip
          <span style="margin-left:59px;width:180px;height:25px;display:inline;padding-left:7px;color:black;"><%= @registration.parent.p2zip %></span>
        </li>
      </ul>
    </div>
  </div>

  <div class="one-half-responsive last half-bottom">
    <div class="pricing-table pricing-selected-blue" style="max-width: 400px; padding-bottom: 2px;">
      <% if current_user.super_admin? %>
          <h3>Add Payment</h3>
          <% if @payment.errors.any? %>
              <div id="error_explanation">
                <h1><%= pluralize(@payment.errors.count, "error") %> Error(s):</h1>
                <ul>
                  <% @payment.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>

          <%= form_for @payment, :url => tmgr_payment_path(@registration) do |f| %>
              <%= f.hidden_field :registration_id %>
              <table>
                <tr>
                  <td><p style="margin-bottom:0;">Type:</p></td>
                  <td><%= f.text_field :pmtnum, style: "padding:0 10px;height:25px;width:177px;border: 1px solid grey;" %></td>
                </tr>
                <tr>
                  <td><p style="margin-bottom:0;">Date:</p></td>
                  <td><%= f.text_field :pmtdate, style: "padding:0 10px;height:25px;width:177px;border: 1px solid grey;" %></td>
                </tr>
                <tr>
                  <td><p style="margin-bottom:0;">Amount:</p></td>
                  <td nowrap="nowrap"><%= f.text_field :amount, style: "padding:0 10px;height:25px;width:177px;border: 1px solid grey;" %></td>
                </tr>
                <tr>
                  <td><p style="margin-bottom:0;">Fee:</p></td>
                  <td nowrap="nowrap"><%= f.text_field :fee, style: "padding:0 10px;height:25px;width:177px;border: 1px solid grey;" %></td>
                </tr>
                <tr>
                  <td colspan="2"><%= f.submit "Add Payment", class: "button button-blue center-button half-bottom" %></td>
                </tr>
              </table>
          <% end %>
      <% end %>
      <h3>Payment History</h3>
      <table style="border-bottom: 1px; width:100%; ">
        <tr>
          <td style="padding:2px 5px;margin-bottom:0;font-size:10px;font-weight: bold;text-decoration: underline;">Date</td>
          <td style="padding:2px 5px;margin-bottom:0;font-size:10px;font-weight: bold;text-decoration: underline;">Type</td>
          <td style="padding:2px 5px;margin-bottom:0;font-size:10px;font-weight: bold;text-decoration: underline;">Amount</td>
          <td style="padding:2px 5px;margin-bottom:0;font-size:10px;font-weight: bold;text-decoration: underline;">Fee</td>
          <% if current_user.super_admin? %>
              <td style="padding:2px 5px;margin-bottom:0;font-size:10px;font-weight: bold;text-decoration: underline;">Remove</td>
          <% end %>
        </tr>
        <% @registration.payments.each do |pmt| %>
            <tr>
              <td style="padding:2px 5px;margin-bottom:0;font-size:10px;"><%= pmt.pmtdate.strftime('%m/%d/%Y') %></td>
              <td style="padding:2px 5px;margin-bottom:0;font-size:10px;"><%= pmt.pmtnum %></td>
              <td style="padding:2px 5px;margin-bottom:0;font-size:10px;"><%= pmt.amount.present? ? number_to_currency(pmt.amount) : "" %></td>
              <td style="padding:2px 5px;margin-bottom:0;font-size:10px;"><%= pmt.fee.present? ? number_to_currency(pmt.fee) : "" %></td>
              <% if current_user.super_admin? %>
                  <td style="padding:2px 5px;margin-bottom:0;text-align:center;">
                    <img class="remove_pmt" data-id="<%= pmt.id %>" src="/remove.png" height="13" width="13" border="0" style="display:inline"/>
                  </td>
              <% end %>
            </tr>
        <% end %>
      </table>
    </div>

    <% if current_user.email == 'mgiacomi@gltech.com' && @registration.payments.length == 0 %>
      <%= link_to 'Delete Registration',url_for(action: :delete, id: @registration.id), method: :delete, style: "width:200px;", class: "button button-red center-button half-bottom", data: {confirm: "Are you sure?"} %>
    <% end %>

  </div>


</div>

