<script>
  jQuery(function () {
    jQuery('.remove_pmt').click(function () {
      var strconfirm = confirm("Are you sure you want to delete payment?");
      if (strconfirm == false) {
        return true;
      }

      jQuery('#delete_id').val(jQuery(this).attr("data-id"));
      jQuery('#delete_form').submit();
    });
  });
</script>

<h3><%= @registration.grade %>th Grade Trip Administration</h3>

<form id="delete_form" method="post" action="<%= tmgr_payment_delete_path %>">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="hidden" name="id" id="delete_id">
  <input type="hidden" name="reg_id" value="<%= @registration.id %>">
</form>

<br/>
<div style="width:45%; float:left;">
  <% if @registration.user.chaperone %>

      <p style="color:black;margin-bottom:10px;"><strong>Chaperone Information</strong></p>
      <table>
        <tr>
          <td><p style="margin-bottom:0;">Trip:</p></td>
          <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.grade %>th</p></td>
        </tr>
        <tr>
          <td><p style="margin-bottom:0;">First Name:</p></td>
          <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.p1fname %></p></td>
        </tr>
        <tr>
          <td><p style="margin-bottom:0;">Last Name:</p></td>
          <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.p1lname %></p></td>
        </tr>
        <tr>
          <td><p style="margin-bottom:0;">Phone:</p></td>
          <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.p1phone %></p></td>
        </tr>
        <tr>
          <td><p style="margin-bottom:0;">Email:</p></td>
          <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= current_user.email %></p></td>
        </tr>
        <tr>
          <td><p style="margin-bottom:0;">Street:</p></td>
          <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.street %></p></td>
        </tr>
        <tr>
          <td><p style="margin-bottom:0;">City:</p></td>
          <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.city %></p></td>
        </tr>
        <tr>
          <td><p style="margin-bottom:0;">State:</p></td>
          <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.state %></p></td>
        </tr>
        <tr>
          <td><p style="margin-bottom:0;">Zip:</p></td>
          <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.zip %></p></td>
        </tr>
      </table>

  <% else %>

      <p style="color:black;margin-bottom:10px;"><strong>Student Information</strong></p>
      <table>
        <tr>
          <td><p style="margin-bottom:0;">Student First Name:</p></td>
          <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.sfname %></p></td>
        </tr>
        <tr>
          <td><p style="margin-bottom:0;">Student Last Name:</p></td>
          <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.slname %></p></td>
        </tr>
        <tr>
          <td><p style="margin-bottom:0;">Gender:</p></td>
          <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.sgender %></p></td>
        </tr>
        <tr>
          <td><p style="margin-bottom:0;">Trip:</p></td>
          <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.grade %>th</p></td>
        </tr>
      </table>
      <br/>
      <p style="color:black;margin-bottom:10px;"><strong>Parent Information</strong></p>
      <table>
        <tr>
          <td><p style="margin-bottom:0;">Parent 1 First Name:</p></td>
          <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.p1fname %></p></td>
        </tr>
        <tr>
          <td><p style="margin-bottom:0;">Parent 1 Last Name:</p></td>
          <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.p1lname %></p></td>
        </tr>
        <tr>
          <td><p style="margin-bottom:0;">Parent 1 Phone:</p></td>
          <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.p1phone %></p></td>
        </tr>
        <tr>
          <td><p style="margin-bottom:0;">Parent 1 Email:</p></td>
          <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.p1email %></p></td>
        </tr>
        <tr>
          <td><p style="margin-bottom:0;">Parent 2 First Name:</p></td>
          <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.p2fname %></p></td>
        </tr>
        <tr>
          <td><p style="margin-bottom:0;">Parent 2 Last Name:</p></td>
          <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.p2lname %></p></td>
        </tr>
        <tr>
          <td><p style="margin-bottom:0;">Parent 2 Phone:</p></td>
          <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.p2phone %></p></td>
        </tr>
        <tr>
          <td><p style="margin-bottom:0;">Parent 2 Email:</p></td>
          <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.p2email %></p></td>
        </tr>
        <tr>
          <td><p style="margin-bottom:0;">Street:</p></td>
          <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.street %></p></td>
        </tr>
        <tr>
          <td><p style="margin-bottom:0;">City:</p></td>
          <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.city %></p></td>
        </tr>
        <tr>
          <td><p style="margin-bottom:0;">State:</p></td>
          <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.state %></p></td>
        </tr>
        <tr>
          <td><p style="margin-bottom:0;">Zip:</p></td>
          <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.zip %></p></td>
        </tr>
      </table>

  <% end %>

</div>

<div style="width:45%; float:left;">
  <p style="color:black;margin-bottom:10px;"><strong>Add Payment</strong></p>
  <% if @payment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@payment.errors.count, "error") %> Error(s):</h2>

        <ul>
          <% @payment.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

  <%= form_for @payment, :url => tmgr_payment_path(@registration) do |f| %>
      <%= f.hidden_field :registration_id %>
      <table>
        <tr>
          <td><p style="margin-bottom:0;">Payment Type:</p></td>
          <td><%= f.text_field :pmtnum, style: "height:25px;" %></td>
        </tr>
        <tr>
          <td><p style="margin-bottom:0;">Payment Date:</p></td>
          <td><%= f.text_field :pmtdate, style: "height:25px;" %></td>
        </tr>
        <tr>
          <td><p style="margin-bottom:0;">Payment Amount:</p></td>
          <td nowrap="nowrap">$<%= f.text_field :amount, style: "height:25px;width:185px;" %></td>
        </tr>
      </table>
      <%= f.submit "Add Payment", class: "button black" %>
  <% end %>

  <br/><br/>
  <p style="color:black;margin-bottom:10px;"><strong>Payment History</strong></p>
  <table style="border-bottom: 1px; width:100%; ">
    <tr>
      <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;">Payment Date</p></td>
      <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;">Type</p></td>
      <td style="text-align:right;"><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;">Amount</p></td>
      <td style="text-align:right;"><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;">Remove?</p></td>
    </tr>
    <% @registration.payments.each do |pmt| %>
        <tr>
          <td><p style="margin-bottom:0;"><%= pmt.pmtdate.strftime('%m/%d/%Y') %></p></td>
          <td><p style="margin-bottom:0;"><%= pmt.pmtnum %></p></td>
          <td style="text-align:right;"><p style="margin-bottom:0;"><%= pmt.amount.present? ? number_to_currency(pmt.amount) : "" %></p></td>
          <td style="text-align:right;width:50px;"><img class="remove_pmt" data-id="<%= pmt.id %>" src="/remove.png" height="13" width="13" border="0"/></td>
        </tr>
    <% end %>
  </table>

</div>