<script>
  $(function () {
    $('.remove_pmt').click(function () {
      var strconfirm = confirm("Are you sure you want to delete payment?");
      if (strconfirm == false) {
        return true;
      }

      $('#delete_id').val($(this).attr("data-id"));
      $('#delete_form').submit();
    });
  });
</script>

<h3><%= @registration.grade %>th Grade Trip Administration</h3>

<form id="delete_form" method="post" action="<%= tmgr_payment_delete_path %>">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="hidden" name="id" id="delete_id">
  <input type="hidden" name="reg_id" value="<%= @registration.id %>">
</form>

<br/>
<div style="width:45%; float:left;">
  <p style="color:black;margin-bottom:10px;"><strong>Student Information</strong></p>
  <table>
    <tr>
      <td><p style="margin-bottom:0;">Student First Name:</p></td>
      <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.fname %></p></td>
    </tr>
    <tr>
      <td><p style="margin-bottom:0;">Student Last Name:</p></td>
      <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.lname %></p></td>
    </tr>
    <tr>
      <td><p style="margin-bottom:0;">Gender:</p></td>
      <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.gender %></p></td>
    </tr>
    <tr>
      <td><p style="margin-bottom:0;">Trip:</p></td>
      <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.grade %>th</p></td>
    </tr>
    <tr>
      <td><p style="margin-bottom:0;">Letter Of Intent:</p></td>
      <td>
        <p style="margin-bottom:0;color:black;margin-left:10px;">??</p>
      </td>
    </tr>
    <tr>
      <td><p style="margin-bottom:0;">ONK Member:</p></td>
      <%= form_tag tmgr_form_onk_path(@registration.id), method: :post, id: 'onk_member_form' do %>
          <td>
            <p style="margin-bottom:0;color:black;margin-left:10px;">
              <input type="checkbox"
                     <%= @registration.parent.onk == true ? 'checked="checked"' : '' %>
                     name="onk_member"
                     style="height:25px;display:inline;border:1px solid gray;padding-left: 5px;"
                     value="true"
                     onclick="$('#onk_member_form').submit()"/>
            </p>
          </td>
          </tr>
      <% end %>
      <%= form_tag(tmgr_form_chaperone_path, method: :post, id: 'chaperone_form') do %>
          <tr>
            <td><p style="margin-bottom:0;">Chaperone:</p></td>
            <td>
              <p style="margin-bottom:0;color:black;margin-left:10px;">
                <input type="checkbox"
                       <%= @registration.chaperone == true ? 'checked="checked"' : '' %>
                       name="chaperone" style=""
                       onclick="$('#chaperone_form').submit()"/>
              </p>
            </td>
          </tr>
      <% end %>

      <% if @registration.grade == 8 %>
      <tr>
        <td><p style="margin-bottom:0;">Send Refund To:</p></td>
        <td>
          <p style="margin-bottom:0;color:black;margin-left:10px;">
            <%= @registration.refund_to %>
          </p>
        </td>
      </tr>
      <% end %>

      <%= form_for @registration, :url => tmgr_form_scholarship_path(@registration) do |f| %>
        <tr>
          <td><p style="margin-bottom:0;">Scholarship:</p></td>
          <td>
            <p style="margin-bottom:0;color:black;margin-left:10px;">
              $<%= f.text_field :scholarship, style: "height:25px;width:80px;" %>
              <%= f.submit "Update", class: "button black" %>
            </p>
          </td>
        </tr>
      <% end %>

      <%= form_tag(tmgr_form_withdrawn_path, method: :post, id: 'withdrawn_form') do %>
          <tr>
            <td><p style="margin-bottom:0;">Withdrawn:</p></td>
            <td>
              <p style="margin-bottom:0;color:black;margin-left:10px;">
                <input type="checkbox"
                       <%= @registration.withdrawn == true ? 'checked="checked"' : '' %>
                       name="withdrawn"
                       onclick="$('#withdrawn_form').submit()"/>
              </p>
            </td>
          </tr>
      <% end %>
      </table>

      <br/>

  <p style="color:black;margin-bottom:10px;"><strong>Parent Information</strong></p>
  <table>
    <tr>
      <td><p style="margin-bottom:0;">Login Account:</p></td>
      <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.user.email %></p></td>
    </tr>
    <tr>
      <td><p style="margin-bottom:0;">Parent 1 First Name:</p></td>
      <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.parent.p1fname %></p></td>
    </tr>
    <tr>
      <td><p style="margin-bottom:0;">Parent 1 Last Name:</p></td>
      <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.parent.p1lname %></p></td>
    </tr>
    <tr>
      <td><p style="margin-bottom:0;">Parent 1 Phone:</p></td>
      <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.parent.p1phone %></p></td>
    </tr>
    <tr>
      <td><p style="margin-bottom:0;">Parent 1 Email:</p></td>
      <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.parent.p1email %></p></td>
    </tr>
    <tr>
      <td><p style="margin-bottom:0;">Parent 1 Street:</p></td>
      <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.parent.p1street %></p></td>
    </tr>
    <tr>
      <td><p style="margin-bottom:0;">Parent 1 City:</p></td>
      <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.parent.p1city %></p></td>
    </tr>
    <tr>
      <td><p style="margin-bottom:0;">Parent 1 State:</p></td>
      <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.parent.p1state %></p></td>
    </tr>
    <tr>
      <td><p style="margin-bottom:0;">Parent 1 Zip:</p></td>
      <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.parent.p1zip %></p></td>
    </tr>
    <tr>
      <td><p style="margin-bottom:0;">Parent 2 First Name:</p></td>
      <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.parent.p2fname %></p></td>
    </tr>
    <tr>
      <td><p style="margin-bottom:0;">Parent 2 Last Name:</p></td>
      <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.parent.p2lname %></p></td>
    </tr>
    <tr>
      <td><p style="margin-bottom:0;">Parent 2 Phone:</p></td>
      <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.parent.p2phone %></p></td>
    </tr>
    <tr>
      <td><p style="margin-bottom:0;">Parent 2 Email:</p></td>
      <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.parent.p2email %></p></td>
    </tr>
    <tr>
      <td><p style="margin-bottom:0;">Parent 2 Street:</p></td>
      <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.parent.p2street %></p></td>
    </tr>
    <tr>
      <td><p style="margin-bottom:0;">Parent 2 City:</p></td>
      <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.parent.p2city %></p></td>
    </tr>
    <tr>
      <td><p style="margin-bottom:0;">Parent 2 State:</p></td>
      <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.parent.p2state %></p></td>
    </tr>
    <tr>
      <td><p style="margin-bottom:0;">Parent 2 Zip:</p></td>
      <td><p style="margin-bottom:0;color:black;margin-left:10px;"><%= @registration.parent.p2zip %></p></td>
    </tr>
  </table>

</div>

<div style="width:45%; float:left;">
  <p style="color:black;margin-bottom:10px;"><strong>Add Payment</strong></p>
  <% if @payment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@payment.errors.count, "error") %> Error(s):</h2>

        <ul>
          <% @payment.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

  <%= form_for @payment, :url => tmgr_payment_path(@registration) do |f| %>
      <%= f.hidden_field :registration_id %>
      <table>
        <tr>
          <td><p style="margin-bottom:0;">Payment Type:</p></td>
          <td><%= f.text_field :pmtnum, style: "height:25px;" %></td>
        </tr>
        <tr>
          <td><p style="margin-bottom:0;">Payment Date:</p></td>
          <td><%= f.text_field :pmtdate, style: "height:25px;" %></td>
        </tr>
        <tr>
          <td><p style="margin-bottom:0;">Payment Amount:</p></td>
          <td nowrap="nowrap">$<%= f.text_field :amount, style: "padding-top:0;padding-bottom:0;height:25px;width:185px;" %></td>
        </tr>
        <tr>
          <td><p style="margin-bottom:0;">Payment Fee:</p></td>
          <td nowrap="nowrap">$<%= f.text_field :fee, style: "padding-top:0;padding-bottom:0;height:25px;width:185px;" %></td>
        </tr>
      </table>
      <%= f.submit "Add Payment", class: "button black" %>
  <% end %>

  <br/><br/>
  <p style="color:black;margin-bottom:10px;"><strong>Payment History</strong></p>
  <table style="border-bottom: 1px; width:100%; ">
    <tr>
      <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;">Payment Date</p></td>
      <td><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;">Type</p></td>
      <td style="text-align:right;"><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;">Amount</p>
      </td>
      <td style="text-align:right;"><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;">Fee</p>
      </td>
      <td style="text-align:right;"><p style="margin-bottom:0;font-weight: bold;text-decoration: underline;">Remove?</p>
      </td>
    </tr>
    <% @registration.payments.each do |pmt| %>
        <tr>
          <td><p style="margin-bottom:0;"><%= pmt.pmtdate.strftime('%m/%d/%Y') %></p></td>
          <td><p style="margin-bottom:0;"><%= pmt.pmtnum %></p></td>
          <td style="text-align:right;">
            <p style="margin-bottom:0;"><%= pmt.amount.present? ? number_to_currency(pmt.amount) : "" %></p></td>
          <td style="text-align:right;">
            <p style="margin-bottom:0;"><%= pmt.fee.present? ? number_to_currency(pmt.fee) : "" %></p></td>
          <td style="text-align:right;width:50px;">
            <img class="remove_pmt" data-id="<%= pmt.id %>" src="/remove.png" height="13" width="13" border="0"/></td>
        </tr>
    <% end %>
  </table>

</div>