<h2>Forgot your password?</h2>
<br/>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br/>
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="actions" style="margin-top:20px;">
      <%= f.submit "Send me reset password instructions", :class => 'button black', :style => "float:left; margin-right:10px;" %>
      <%= render "devise/shared/links" %>
    </div>
<% end %>

