<%= f.hidden_field :p1fname, value: "n/a" %>
<%= f.hidden_field :p1lname, value: "n/a" %>
<%= f.hidden_field :sgender, value: "n/a" %>
<p style="color:black;margin-bottom:10px;"><strong>Chaperone Information</strong></p>
<table>
  <tr>
    <td><p style="margin-bottom:0;">Trip:</p></td>
    <td>
      <%= f.select :grade,
                   options_for_select([['', ''], ['5th Grade', '5'], ['8th Grade', '8']], @registration.grade),
                   {}, {:style => 'width:130px;'} %>
    </td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;">First Name:</p></td>
    <td><%= f.text_field :sfname, style: 'width:500px' %></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;">Last Name:</p></td>
    <td><%= f.text_field :slname %></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;">Phone:</p></td>
    <td><%= f.text_field :p1phone %></td>
  </tr>
  <%= f.hidden_field :p1email, value: current_user.email %>
  <tr>
    <td><p style="margin-bottom:0;">Street:</p></td>
    <td><%= f.text_field :street %></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;">City:</p></td>
    <td><%= f.text_field :city %></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;">State:</p></td>
    <td><%= f.text_field :state, style: 'width:150px;' %></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;">Zip:</p></td>
    <td><%= f.text_field :zip, style: 'width:150px;' %></td>
  </tr>
</table>
