<h3>Japan Trip Registration</h3>
<br/>
<% if @registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registration.errors.count, "error") %> prohibited this registration from being saved:</h2>

      <ul>
        <% @registration.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form_for @registration, url: registrations_path do |f| %>
    <p style="color:black;margin-bottom:10px;"><strong>Student Information</strong></p>
    <table>
      <tr>
        <td><p style="margin-bottom:0;">Student First Name:</p></td>
        <td><%= f.text_field :sfname, style: 'width:500px' %></td>
      </tr>
      <tr>
        <td><p style="margin-bottom:0;">Student Last Name:</p></td>
        <td><%= f.text_field :slname, style: 'width:500px' %></td>
      </tr>
      <tr>
        <td><p style="margin-bottom:0;">Gender:</p></td>
        <td>
          <span style="font-size: 13px;color: #8c8c8c;">Male</span> <%= f.radio_button :sgender, "Male" %>
          <br/>
          <span style="font-size: 13px;color: #8c8c8c;">Female</span> <%= f.radio_button :sgender, "Female" %>
        </td>
      </tr>
      <tr>
        <td><p style="margin-bottom:0;">Trip:</p></td>
        <td>
          <%= f.select :grade,
                       options_for_select([['', ''], ['5th Grade', '5'], ['8th Grade', '8']], @registration.grade),
                       {}, {:style => 'width:130px;'} %>
        </td>
      </tr>
    </table>
    <br/><br/>
    <p style="color:black;margin-bottom:10px;"><strong>Parent Information</strong></p>
    <p>If you are planning to be a chaperone, enter the chaperone as Parent 1.</p>
    <table>
      <tr>
        <td><p style="margin-bottom:0;">Parent 1 First Name:</p></td>
        <td><%= f.text_field :p1fname, style: 'width:500px' %></td>
      </tr>
      <tr>
        <td><p style="margin-bottom:0;">Parent 1 Last Name:</p></td>
        <td><%= f.text_field :p1lname %></td>
      </tr>
      <tr>
        <td><p style="margin-bottom:0;">Parent 1 Phone:</p></td>
        <td><%= f.text_field :p1phone %></td>
      </tr>
      <tr>
        <td><p style="margin-bottom:0;">Parent 1 Email:</p></td>
        <td><%= f.text_field :p1email %></td>
      </tr>
      <tr>
        <td><p style="margin-bottom:0;">Parent 1 Street:</p></td>
        <td><%= f.text_field :street %></td>
      </tr>
      <tr>
        <td><p style="margin-bottom:0;">Parent 1 City:</p></td>
        <td><%= f.text_field :city %></td>
      </tr>
      <tr>
        <td><p style="margin-bottom:0;">Parent 1 State:</p></td>
        <td><%= f.text_field :state, style: 'width:150px;' %></td>
      </tr>
      <tr>
        <td><p style="margin-bottom:0;">Parent 1 Zip:</p></td>
        <td><%= f.text_field :zip, style: 'width:150px;' %></td>
      </tr>
      <tr>
        <td colspan="2">&nbsp;</td>
      </tr>
      <tr>
        <td><p style="margin-bottom:0;">Parent 2 First Name:</p></td>
        <td><%= f.text_field :p2fname %></td>
      </tr>
      <tr>
        <td><p style="margin-bottom:0;">Parent 2 Last Name:</p></td>
        <td><%= f.text_field :p2lname %></td>
      </tr>
      <tr>
        <td><p style="margin-bottom:0;">Parent 2 Phone:</p></td>
        <td><%= f.text_field :p2phone %></td>
      </tr>
      <tr>
        <td><p style="margin-bottom:0;">Parent 2 Email:</p></td>
        <td><%= f.text_field :p2email %></td>
      </tr>
      <tr>
        <td><p style="margin-bottom:0;">Parent 2 Street:</p></td>
        <td><%= f.text_field :street2 %></td>
      </tr>
      <tr>
        <td><p style="margin-bottom:0;">Parent 2 City:</p></td>
        <td><%= f.text_field :city2 %></td>
      </tr>
      <tr>
        <td><p style="margin-bottom:0;">Parent 2 State:</p></td>
        <td><%= f.text_field :state2, style: 'width:150px;' %></td>
      </tr>
      <tr>
        <td><p style="margin-bottom:0;">Parent 2 Zip:</p></td>
        <td><%= f.text_field :zip2, style: 'width:150px;' %></td>
      </tr>
    </table>

    <p style="color:black;margin-bottom:10px;margin-top:20px;"><strong>Trip Refunds</strong></p>
    <table>
      <% if @registration.grade == 8 %>
          <tr>
            <td colspan="2"><p style="margin-bottom:0;">
              Donate my trip refund to Oya No Kai:
              <%= f.radio_button :refund_to, 'Donate' %>
            </p></td>
          </tr>
          <tr>
            <td colspan="2"><p style="margin-bottom:0;">
              Parent 1 should receive any trip refunds:
              <%= f.radio_button :refund_to, 'Parent 1' %>
            </p></td>
          </tr>
          <tr>
            <td colspan="2"><p style="margin-bottom:0;">
              Parent 2 should receive any trip refunds:
              <%= f.radio_button :refund_to, 'Parent 2' %>
            </p></td>
          </tr>
      <% end %>
    </table>

    <br/>
    <%= f.submit "Submit My Application", :class => 'button black', :style => "float:left; margin-right:10px;" %>
    <%= link_to "Back", :back, :class => 'button white', :style => 'float:right; margin-left:10px;' %>
<% end %>
