<h3>Payments</h3>
<br/>
<div id="items">
  <div class="one_third">
    <div style="margin-bottom: 30px;" class="box_heading"><h2 style="top: 8px;">Overview</h2><span class="line"></span>
    </div>
    <div id="sponsors">
      <p>Total student fees for the trip are $3,200 and is due in full by March 15th 2017. To help make the payments
        less
        painful we break them up into monthly installments. You have the flexibility to pay more or less, and we will
        help
        you track the difference.
        <br/><br/>
        <span style="font-weight:bold;color:black;">Payment schedule:</span>
      <ul>
        <% @schedule.each do |pmt| %>
            <li style="width:125px;"><%= pmt[:date].strftime("%b #{pmt[:date].day.ordinalize}, %Y") %></li>
            <li class="last" style="width:125px;"><%= number_to_currency(pmt[:amount]) %></li>
        <% end %>
      </ul>
      </p>
    </div>
  </div>
  <div class="one_third">
    <div style="margin-bottom: 30px;" class="box_heading"><h2 style="top: 8px;">Payment</h2><span class="line"></span>
    </div>
    <div class="events">
      <ul>
        <li style="border-bottom: none;">
          <div class="date"><span>15</span>Jun</div>
          <div class="details">
            <h5 style="margin-bottom:0;"><a href="http://demo.t2themes.com/wordpress/advocate/event/beach-clean-up/">Upcoming Payment</a></h5>
            <!--p>Current - no payment needed</p-->
            <p>Status: <span style="color:green">Current</span></p>
            <!--p>Upcoming + catch up payment</p-->
          </div>
          <div>
            <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
              <!--input name="notify_url" value="http://yourdomain.com/notify_url.php" type="hidden"-->
              <input type="hidden" name="cmd" value="_cart">
              <input type="hidden" name="upload" value="1">
              <input type="hidden" name="business" value="mgiacomi-facilitator@gltech.com">
              <input type="hidden" name="currency_code" value="USD">
              <input type="hidden" name="item_name_1" value="5th Trip Payment">
              <input type="hidden" name="item_number_1" value="Matt Giacomini">
              <input type="hidden" name="quantity_1" value="1">
              $<input style="width:135px;height:30px;padding-left:5px;margin-top:20px;" type="text" name="amount_1" value="400"><br/>
              <input type="image" name="submit" style="margin-top: 10px;"
                     src="https://www.paypalobjects.com/webstatic/en_US/btn/btn_checkout_pp_142x27.png" alt="PayPal - The safer, easier way to pay online">
            </form>
          </div>
        </li>
      </ul>
      <p style="margin-bottom:5px;"><span style="font-weight:bold;color:black;">Payment Due:</span>  <%= number_to_currency(@registration.total_due) %></p>
      <p style="margin-bottom:5px;"><span style="font-weight:bold;color:black;">Payments Made:</span> <%= number_to_currency(@registration.total_paid) %></p>
      <p style="margin-bottom:5px;"><span style="font-weight:bold;color:black;">Payoff Amount:</span> <%= number_to_currency(@registration.payoff_amount) %></p>
      <p style="margin-bottom:10px;"><span style="font-weight:bold;color:black;">Total Amount:</span> <%= number_to_currency(@registration.total_amount) %></p>
      <p>
        Payment flexiblity: If you can not make a full payment this pay period, then pay what you can.  Make the rest up
        as soon as you can.
        If you would like to pay ahead or make your payment in full then feel free to do so.
      </p>
    </div>
  </div>
  <div class="one_third column_last">
    <div style="margin-bottom: 30px;" class="box_heading"><h2 style="top: 8px;">History</h2><span class="line"></span>
    </div>
    <div class="news">
      <ul>
        <% @registration.payments.each do |pmt| %>
            <li><h5><%= number_to_currency(pmt.amount) %> - <%= pmt.pmtdate.strftime("%b #{pmt.pmtdate.day.ordinalize}, %Y") %></h5>
              <p style="font-size: .9em;">
                Payment: <%= pmt.pmtnum %><br/>
                Logged on: <%= pmt.pmtdate.strftime("%m/%d/%Y") %>
              </p>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="clear"></div>
</div>