<div id="accordion-container">
  <% @registrations.each_with_index do |reg, idx| %>
      <h5 class="accordion-header
        <% if idx==0 %>active-header inactive-header
        <% end %>"><%= reg.grade %>th Grade Student</h5>
      <div class="accordion-content"
           <% if idx==0 %>style="display: block;"
      <% end %>>
        <h5 style="margin-bottom:10px;"><%= reg.fname %> <%= reg.lname %></h5>
        <p class="half-bottom">
          Trip: <%= reg.grade %><br/>
          Gender: <%= reg.gender %><br/>
          DOB: <%= reg.date_of_birth.strftime "%m/%d/%Y" %><br/>
          <%= link_to "edit registration", registrations_edit_path(reg.id), style: 'text-decoration:underline;' %>
          <br/><br/>

          Payment Status: <span style="font-weight: bold; color:green;">Current</span><br/>
          <%= link_to "payment details", registrations_edit_path(reg.id), style: 'text-decoration:underline;' %>

        </p>
      </div>
  <% end %>

  <h5 class="accordion-header">Parent Information</h5>
  <div class="accordion-content">
    <h5 style="margin-bottom:10px;"><%= @parent.p1fname %> <%= @parent.p1lname %></h5>
    <p class="half-bottom">
      Email: <%= @parent.p1email %><br/>
      Phone: <%= @parent.p1phone %><br/>
      Address: <%= @parent.p1street %>, <%= @parent.p1city %>, <%= @parent.p1state %> <%= @parent.p1zip %><br/>
    </p>
    <% unless @parent.p2fname.blank? && @parent.p2lname.blank? %>
        <h5 style="margin-bottom:10px;"><%= @parent.p2fname %> <%= @parent.p2lname %></h5>
        <p style="margin-bottom:10px">
          Email: <%= @parent.p2email %><br/>
          Phone: <%= @parent.p2phone %><br/>
          Address: <%= @parent.p2street %>, <%= @parent.p2city %>, <%= @parent.p2state %> <%= @parent.p2zip %><br/>
        </p>
        <%= link_to "edit parent info", parents_edit_path, style: 'text-decoration:underline;' %><br/>
    <% end %>
  </div>
</div>
