<script>
    jQuery(document).ready(function () {
        jQuery(".onk_membership").click(function () {
            $('#onk_membership_form').submit()
        });
    });
</script>
<div class="content">
  <%= render '/includes/breadcrumb', page_name: 'Status' %>

  <div class="one-half-responsive">
    <h3>Japan Trip Overview</h3>
    <p>This app will help you, ONK, and trip volunteers keep the trip to Japan organized. You can use this site to
      manage your personal information and make payments to the trip.</p>

    <% if @parent.errors.any? %>
        <div class="red-notification" style="margin-bottom:20px;">
          <p class="left-text uppercase" style="margin-top:0; margin-bottom:0; padding:10px;">
            <i class="fa fa-warning"></i>
            <%= pluralize(@parent.errors.count, "error") %> prohibited this registration from being saved:
          </p>
          <ul style="margin-left: 20px;">
            <% @parent.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
          <br/>
        </div>
    <% end %>

    <%= form_for @parent, url: parents_update_path do |f| %>
        <table cellpadding="5">
          <tr>
            <td style="text-align:left;font-weight:bold;">Parent 1 First:</td>
            <td style="text-align:left;"><%= f.text_field :p1fname, style: 'border: 2px solid #EBE9ED; width: 250px;' %></td>
          </tr>
          <tr>
            <td style="text-align:left;font-weight:bold;">Parent 1 Last:</td>
            <td style="text-align:left;"><%= f.text_field :p1lname, style: 'border: 2px solid #EBE9ED; width: 250px;' %></td>
          </tr>
          <tr>
            <td style="text-align:left;font-weight:bold;">Parent 1 Phone:</td>
            <td style="text-align:left;"><%= f.text_field :p1phone, style: 'border: 2px solid #EBE9ED; width: 250px;' %></td>
          </tr>
          <tr>
            <td style="text-align:left;font-weight:bold;">Parent 1 Email:</td>
            <td style="text-align:left;"><%= f.text_field :p1email, style: 'border: 2px solid #EBE9ED; width: 250px;' %></td>
          </tr>
          <tr>
            <td style="text-align:left;font-weight:bold;">Parent 1 Street:</td>
            <td style="text-align:left;"><%= f.text_field :p1street, style: 'border: 2px solid #EBE9ED; width: 250px;' %></td>
          </tr>
          <tr>
            <td style="text-align:left;font-weight:bold;">Parent 1 City:</td>
            <td style="text-align:left;"><%= f.text_field :p1city, style: 'border: 2px solid #EBE9ED; width: 250px;' %></td>
          </tr>
          <tr>
            <td style="text-align:left;font-weight:bold;">Parent 1 State:</td>
            <td style="text-align:left;"><%= f.text_field :p1state, style: 'border: 2px solid #EBE9ED; width: 250px;' %></td>
          </tr>
          <tr>
            <td style="text-align:left;font-weight:bold;">Parent 1 Zip:</td>
            <td style="text-align:left;"><%= f.text_field :p1zip, style: 'border: 2px solid #EBE9ED; width: 250px;' %></td>
          </tr>
          <tr>
            <td style="text-align:left;font-weight:bold;">Parent 2 First:</td>
            <td style="text-align:left;"><%= f.text_field :p2fname, style: 'border: 2px solid #EBE9ED; width: 250px;' %></td>
          </tr>
          <tr>
            <td style="text-align:left;font-weight:bold;">Parent 2 Last:</td>
            <td style="text-align:left;"><%= f.text_field :p2lname, style: 'border: 2px solid #EBE9ED; width: 250px;' %></td>
          </tr>
          <tr>
            <td style="text-align:left;font-weight:bold;">Parent 2 Phone:</td>
            <td style="text-align:left;"><%= f.text_field :p2phone, style: 'border: 2px solid #EBE9ED; width: 250px;' %></td>
          </tr>
          <tr>
            <td style="text-align:left;font-weight:bold;">Parent 2 Email:</td>
            <td style="text-align:left;"><%= f.text_field :p2email, style: 'border: 2px solid #EBE9ED; width: 250px;' %></td>
          </tr>
          <tr>
            <td style="text-align:left;font-weight:bold;">Parent 2 Street:</td>
            <td style="text-align:left;"><%= f.text_field :p2street, style: 'border: 2px solid #EBE9ED; width: 250px;' %></td>
          </tr>
          <tr>
            <td style="text-align:left;font-weight:bold;">Parent 2 City:</td>
            <td style="text-align:left;"><%= f.text_field :p2city, style: 'border: 2px solid #EBE9ED; width: 250px;' %></td>
          </tr>
          <tr>
            <td style="text-align:left;font-weight:bold;">Parent 2 State:</td>
            <td style="text-align:left;"><%= f.text_field :p2state, style: 'border: 2px solid #EBE9ED; width: 250px;' %></td>
          </tr>
          <tr>
            <td style="text-align:left;font-weight:bold;">Parent 2 Zip:</td>
            <td style="text-align:left;"><%= f.text_field :p2zip, style: 'border: 2px solid #EBE9ED; width: 250px;' %></td>
          </tr>
          <tr>
            <td style="text-align:left;font-weight:bold;">Amount Due:</td>
            <td style="text-align:left;">asdf</td>
          </tr>
          <tr>
            <td style="text-align:left;font-weight:bold;">ONK Member:</td>
            <td style="text-align:left;"><%= @parent.onk? ? 'Yes' : 'No' %></td>
          </tr>
          <tr>
            <td colspan="2" style="text-align:right;"><%= f.submit "Update Parent Data", class: "button button-blue" %></td>
          </tr>
        </table>
    <% end %>
    <br/><br/>

    <div id="actions">
      <ul>
        <div class="box one_half">
          <div class="inner">
            <div class="box_heading"><h4>Setup Account</h4></div>
            <p>You can manage your authorization data here. Change your password or update your email address.</p>
            <div style="margin-top:10px;">Status:
              <span style="margin-left:20px;font-weight:bold; color:green;">Complete</span></div>
            <%= link_to 'Update email or password', edit_user_registration_path %>.
          </div>
        </div>
        <hr/>
        <div class="box one_half column_last">
          <div class="inner">
            <div class="box_heading"><h4>Registration Information</h4></div>
            <p>In order to prepare for the trip we need address and contact information for students and parents.</p>
            <% if @registration == nil %>
                <div style="margin-top:10px;">Status:
                  <span style="margin-left:20px;font-weight:bold; color:red;">Incomplete</span></div>
                <%= link_to 'Fill out registration', registrations_new_path %>
            <% else %>
                <div style="margin-top:10px;">Status:
                  <span style="margin-left:20px;font-weight:bold; color:green;">Complete</span></div>
                <%= link_to 'Edit your registration', registrations_new_path %>
            <% end %>
          </div>
        </div>
        <hr/>
        <div class="box one_half">
          <div class="inner">
            <div class="box_heading">
              <h4>ONK Membership</h4></div>
            <p>In order for students to go on the trip the family must be an ONK member. This covers your
              <strong>2016-2017 school year</strong>.</p>
            <div style="margin-top:10px;">Status:
              <% if @registration == nil %>
                  <span style="margin-left:20px;font-weight:bold;color:red;">Complete Registration First</span>
              <% else %>
                  <% if @registration.onk %>
                      <span style="margin-left:20px;font-weight:bold; color:green;">Complete</span><br/>
                  <% else %>
                      <span style="margin-left:20px;font-weight:bold; color:red;">Incomplete</span><br/>
                      <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                        <input type="hidden" name="cmd" value="_cart"/>
                        <input type="hidden" name="upload" value="1"/>
                        <input type="hidden" name="business" value="kathy.black@pdx.edu"/>
                        <input type="hidden" name="currency_code" value="USD"/>
                        <input type="hidden" name="notify_url" value="<%= onk_receipt_url %>"/>
                        <input type="hidden" name="shopping_url" value="<%= todos_home_url %>"/>
                        <input type="hidden" name="invoice" value="<%= @registration.id %>-<%= (@registration.payments.length + 1) %>-<%= Time.now.to_i %>"/>
                        <input type="hidden" name="item_name_1" value="ONK Membership"/>
                        <input type="hidden" name="item_number_1" value="<%= @registration.sfname %> <%= @registration.slname %>"/>
                        <input type="hidden" name="quantity_1" value="1"/>
                        <input type="hidden" name="amount_1" value="26"/>
                        <input type="image" name="submit" style="margin-top: 10px;"
                               src="https://www.paypalobjects.com/webstatic/en_US/btn/btn_checkout_pp_142x27.png" alt="PayPal - The safer, easier way to pay online">
                      </form>
                  <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <hr/>
        <div class="box one_half column_last">
          <div class="inner">
            <div class="box_heading">
              <h4>Payments</h4></div>
            <p>Every month you have a portion of your payment due for your trip.</p>
            <div style="margin-top:10px;">Status:
              <% if @registration == nil %>
                  <span style="margin-left:20px;font-weight:bold;color:red;">Complete Registration First</span>
              <% else %>
                  <% if @registration.total_due > 0 %>
                      <span style="margin-left:20px;font-weight:bold; color:red;">Payment Due</span>
                  <% else %>
                      <span style="margin-left:20px;font-weight:bold; color:green;">Current</span>
                  <% end %>
                  </div>
                  <%= link_to 'View payment history', payments_overview_path %>
              <% end %>
              </div>
        </div>
      </ul>
    </div>

  </div>

  <div class="one-half-responsive last">
    <span style="font-weight:bold;">Outstanding Action Items:</span>
    <blockquote class="quote-one red-quote">
      <a style="text-decoration: underline;" href="<%= todos_home_path %>">Create a Registration</a>
      <a style="text-decoration: underline;" href="<%= todos_home_path %>">Cain Giacomini - $500 Payment Due</a>
      <a style="text-decoration: underline;" href="<%= todos_home_path %>">Update Parent Data</a>
      <a class="onk_membership" style="text-decoration: underline;" href="#">Become an Oya No Kai member</a>
      <a href="<%= todos_home_path %>" style="text-decoration: underline;">Sign Participant Agrement</a>
    </blockquote>

    <br/>
    <div style="margin-bottom:10px;">
      <a style="color: #0b84fe; text-decoration: underline;" href="">Add a Registration</a></div>
    <%= render '/todos/registrations' %>

  </div>

</div>

