<div id="revolution_wrap" class="full">
  <div id="description" class="one_third">
    <h3>Japan Trip Overview</h3>
    <p>This app will help you, ONK, and trip volunteers keep the trip to Japan organized. You can use this site to
      manage your personal information and make payments to the trip.</p>
  </div>
  <div id="actions">
    <ul>
      <div class="box one_half">
        <div class="inner">
          <div class="box_heading">
            <h4>Setup Account</h4></div>
          <p>You can manage your authorization data here. Change your password or update your email address.</p>
          <div style="margin-top:10px;">Status:
            <span style="margin-left:20px;font-weight:bold; color:green;">Complete</span></div>
          <%= link_to 'Update email or password', edit_user_registration_path %>.
        </div>
      </div>
      <hr/>
      <div class="box one_half column_last">
        <div class="inner">
          <div class="box_heading">
            <h4>Registration Information</h4></div>
          <p>In order to prepare for the trip we need address and contact information for students and parents.</p>
          <% if @registration == nil %>
              <div style="margin-top:10px;">Status:
                <span style="margin-left:20px;font-weight:bold; color:red;">Incomplete</span></div>
             <!-- <%= link_to 'Fill out registration', registrations_edit_path %> -->
          <% else %>
              <div style="margin-top:10px;">Status:
                <span style="margin-left:20px;font-weight:bold; color:green;">Complete</span></div>
              <%= link_to 'Edit your registration', registrations_edit_path %>
          <% end %>
        </div>
      </div>
      <hr/>
      <div class="box one_half">
        <div class="inner">
          <div class="box_heading">
            <h4>ONK Membership</h4></div>
          <p>In order for students to go on the trip the family must be an ONK member. This covers your <strong>2016-2017 school year</strong>.</p>
          <div style="margin-top:10px;">Status:
            <% if @registration == nil %>
                <span style="margin-left:20px;font-weight:bold;color:red;">Complete Registration First</span>
            <% else %>
                <% if @registration.onk %>
                    <span style="margin-left:20px;font-weight:bold; color:green;">Complete</span><br/>
                <% else %>
                    <span style="margin-left:20px;font-weight:bold; color:red;">Incomplete</span><br/>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                      <input type="hidden" name="cmd" value="_cart"/>
                      <input type="hidden" name="upload" value="1"/>
                      <input type="hidden" name="business" value="kathy.black@pdx.edu"/>
                      <input type="hidden" name="currency_code" value="USD"/>
                      <input type="hidden" name="notify_url" value="<%= onk_receipt_url %>"/>
                      <input type="hidden" name="shopping_url" value="<%= todos_home_url %>"/>
                      <input type="hidden" name="invoice" value="<%= @registration.id %>-<%= (@registration.payments.length + 1) %>-<%= Time.now.to_i %>"/>
                      <input type="hidden" name="item_name_1" value="ONK Membership"/>
                      <input type="hidden" name="item_number_1" value="<%= @registration.sfname %> <%= @registration.slname %>"/>
                      <input type="hidden" name="quantity_1" value="1"/>
                      <input type="hidden" name="amount_1" value="26"/>
                      <input type="image" name="submit" style="margin-top: 10px;"
                             src="https://www.paypalobjects.com/webstatic/en_US/btn/btn_checkout_pp_142x27.png" alt="PayPal - The safer, easier way to pay online">
                    </form>
                <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <hr/>
      <div class="box one_half column_last">
        <div class="inner">
          <div class="box_heading">
            <h4>Payments</h4></div>
          <p>Every month you have a portion of your payment due for your trip.</p>
          <div style="margin-top:10px;">Status:
            <% if @registration == nil %>
                <span style="margin-left:20px;font-weight:bold;color:red;">Complete Registration First</span>
            <% else %>
                <% if @registration.total_due > 0 %>
                    <span style="margin-left:20px;font-weight:bold; color:red;">Payment Due</span>
                <% else %>
                    <span style="margin-left:20px;font-weight:bold; color:green;">Current</span>
                <% end %>
                </div>
                <%= link_to 'View payment history', payments_overview_path %>
            <% end %>
            </div>
      </div>
    </ul>
  </div>
</div>