<script>
    $(document).ready(function () {
        $(".onk_membership").click(function () {
            $('#onk_membership_form').submit()
        });

        if ($('#outstanding_items').children().length === 0) {
            $('#outstanding_items_container').hide();
        }
    });
</script>
<div class="content">
  <%= render '/includes/breadcrumb', page_name: 'Status' %>

  <div class="one-half-responsive half-bottom">
    <h3>JRR & Japan Trip Overview</h3>
    <p>This app will help you manage your ONK Membership, registrations, and payments for your upcoming 5th, 8th, or
      High School trip to Japan.</p>

    <div id="actions">
      <ul>
        <div class="decoration"></div>
        <div class="box one_half">
          <div class="inner">
            <div class="box_heading" style="color:black; font-weight: bold;">Step 1: Parent Information</div>
            <p>Before registering for a trip provide us with your contact information
              <%= link_to 'contact information', parents_edit_path, style: 'color: #0b84fe; text-decoration: underline;' %></p>
            <div style="margin-top:10px;">
              <% if @parent.p1fname.blank? && @parent.p1lname.blank? %>
                  Status: <span style="margin-left:20px;font-weight:bold; color:red;">Incomplete</span>
              <% else %>
                  Status: <span style="margin-left:20px;font-weight:bold; color:green;">Complete</span>
              <% end %>

              <% if @parent.chaperone? %>
                  <br/>Chaperone: <span style="margin-left:20px;font-weight:bold; color:green;">Confirmed</span>
              <% end %>
            </div>
          </div>
        </div>
        <div class="decoration"></div>
        <div class="box one_half">
          <div class="inner">
            <div class="box_heading" style="color:black; font-weight: bold;">Step 2: Registrations</div>
            <p>You need to sign up your kid(s) for a trip. Edit an existing registartion or
              <%= link_to 'add a Registration', registrations_new_path, style: 'color: #0b84fe; text-decoration: underline;' %></p>
            <% if @parent.new_record? %>
                <div style="margin-top:10px;">Status:<span style="margin-left:20px;font-weight:bold; color:red;">Complete Parent Information</span>
                </div>
            <% else %>
                <% if @registrations.length == 0 %>
                    <div style="margin-top:10px;">Status:<span style="margin-left:20px;font-weight:bold; color:red;">Incomplete</span>
                    </div>
                <% else %>
                    <div style="margin-top:10px;">Status:<span style="margin-left:20px;font-weight:bold; color:green;">Complete</span>
                    </div>
                <% end %>
            <% end %>
          </div>
        </div>
        <div class="decoration"></div>
        <div class="box one_half">
          <div class="inner">
            <div class="box_heading" style="color:black; font-weight: bold;">Step 3: ONK Membership</div>
            <p>In order to be eligible for the JRR or Trip to Japan you must renew your ONK membership for the 2017-18
              school year.</p>
            <div style="margin-top:10px;">Status:
              <% if @parent.onk %>
                  <span style="margin-left:20px;font-weight:bold; color:green;">Complete</span><br/>
              <% else %>
                  <span style="margin-left:20px;font-weight:bold; color:red;">Incomplete (Required)</span><br/>
                  <form id="onk_membership_form" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                    <input type="hidden" name="cmd" value="_cart"/>
                    <input type="hidden" name="upload" value="1"/>
                    <input type="hidden" name="business" value="kathy.black@pdx.edu">
                    <input type="hidden" name="currency_code" value="USD"/>
                    <input type="hidden" name="notify_url" value="<%= onk_receipt_url %>"/>
                    <input type="hidden" name="shopping_url" value="<%= todos_home_url %>"/>
                    <input type="hidden" name="invoice" value="<%= @parent.id %>-onk-<%= Time.now.to_i %>"/>
                    <input type="hidden" name="item_name_1" value="ONK Membership"/>
                    <input type="hidden" name="item_number_1" value="<%= @parent.p1fname %> <%= @parent.p1lname %>"/>
                    <input type="hidden" name="quantity_1" value="1"/>
                    <input type="hidden" name="amount_1" value="26"/>
                    <input type="image" name="submit" style="margin-top: 10px;"
                           src="https://www.paypalobjects.com/webstatic/en_US/btn/btn_checkout_pp_142x27.png" alt="PayPal - The safer, easier way to pay online">
                  </form>
              <% end %>
            </div>
          </div>
        </div>
        <div class="decoration"></div>
        <div class="box one_half">
          <div class="inner">
            <div class="box_heading" style="color:black; font-weight: bold;">Step 4: Payments</div>
            <p>Here are the totals for all registrations. View payment details by clicking on a registration.</p>
            <div style="margin-top:10px;">Status:
              <% if @registrations.length == 0 %>
                  <span style="margin-left:20px;font-weight:bold;color:red;">Complete Registration First</span>
              <% else %>
                  <% if @parent.total_due > 0 %>
                      <span style="margin-left:20px;font-weight:bold; color:red;">Payment Due</span>
                  <% else %>
                      <span style="margin-left:20px;font-weight:bold; color:green;">Current</span>
                  <% end %>
                  </div>
                  Total Paid: <%= number_to_currency(@parent.total_paid) %><br/>
                  Total Due: <%= number_to_currency(@parent.total_due) %><br/>
                  Next Pmt Date: <%= @parent.next_pmt_date.strftime("%m/%d/%Y") %><br/>
              <% end %>
              </div>
        </div>
      </ul>
    </div>

  </div>

  <div class="one-half-responsive last half-bottom">

    <div id="outstanding_items_container">
      <span style="font-weight:bold;">Outstanding Action Items:</span>
      <blockquote id="outstanding_items" class="quote-one red-quote">
        <% if !@parent.new_record? && @registrations.length == 0 %>
            <%= link_to 'Add a Registration', registrations_new_path, style: 'text-decoration: underline;' %>
        <% end %>
        <% if !@parent.total_due.nil? && @parent.total_due > 0 %>
            <div>Payment Due!</div>
        <% end %>
        <% if @parent.p1fname.blank? && @parent.p1lname.blank? %>
            <%= link_to 'Update Parent Data', parents_edit_path, style: 'text-decoration: underline;' %>
        <% end %>
        <% unless @parent.onk %>
            <a class="onk_membership" style="text-decoration: underline;" href="#">Renew Oya No Kai membership</a>
        <% end %>
        <% if @parent.registrations.select {|r| r.grade==5}.any? {|r| r.loi.nil? || r.loi.p1signature.blank?} %>
            <div>Sign Letter of Intention</div>
        <% end %>
      </blockquote>
      <br/>
    </div>

    <% unless @parent.new_record? %>
        <div style="margin-bottom:10px;"><%= link_to 'Add a Registration', registrations_new_path, style: 'color: #0b84fe; text-decoration: underline;' %></div>
    <% end %>
    <%= render '/todos/registrations' %>

  </div>

</div>

